path {
    stroke-width: 1;
    fill: none;
}


.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
:focus{
    outline: none;
}
.graph-heading {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}
.slimScroll {
    border: 1px solid #CCC;
    margin-top: 20px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

/* custom stylings */

.scroll-wrapper.mac + .scrollBarContainer{
    background-color: transparent;
}
.scrollBarContainer.animate .scroll{
    transition: 2s opacity ease;
    -ms-transition: 2s opacity ease;
    opacity: 0;
}
.scrollBarContainer:hover .scroll{
    opacity: 0.5;
    transition: none;
    -ms-transition: none;
}
.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.scroll{
    border-radius: 10px;
}
.wrapper + .scrollBarContainer{
    background-color: #eee9ee;
}
.scrollBar {
    background-color: #60F509;
    border-radius: 10px;
    opacity: 0.5;
}
.scroll-bar{
    background-color: #14D1E0;
}
.panel-body {
    border-bottom: solid 1px;
}
.heat-map-body {
    border-bottom: solid 1px;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}