body {
    background: #dfdfdf;
    color: #666;
    font: 14px/24px sans-serif;
}

#container {
    width: 100%;
    margin: 0 auto;
}

.loading {
    background-image: url("gif-load.gif");
    background-position: center bottom;
    background-repeat: no-repeat !important;
    display: inline-block;
    padding-bottom: 18px !important;
}

#messages-list{
	list-style:none;
	padding:0px;
	margin-bottom:0px;
}
#contact-box{
	background:#fff;
}
#messages-list li  p{
	float: right;
	margin-right: 100px;
}

#messages-list li {
    border-bottom: 1px solid;
    font-size: 26px;
    line-height: 56px;
    list-style: none outside none;
    padding-left: 5px;
    padding-top: 5px;
}