#progressBar {
position: fixed;
z-index: 999999;
top: 0;
left: 0;
width: 0%;
height: 3px;
background: yellow;
border-radius: 0%;
-moz-transition: width 500ms ease-out,opacity 400ms linear;
-ms-transition: width 500ms ease-out,opacity 400ms linear;
-o-transition: width 500ms ease-out,opacity 400ms linear;
-webkit-transition: width 500ms ease-out,opacity 400ms linear;
transition: width 500ms ease-out,opacity 400ms linear;
}
#progressBar:before {
position: absolute;
content: '';
top: 0;
opacity: 1;
width: 10%;
right: 0px;
height: 2px;
box-shadow: #b91f1f 1px 0 6px 2px;
border-radius: 50%;
}
